.nav-features .home {
  line-height: 50px; }

.nav-features .likesw-music-info {
  float: right;
  margin-top: 5px; }

.nav-features .account-photo {
  width: 25px;
  height: 25px;
  border-radius: 2px; }

.nav-features #likeswMusicTitle {
  color: #303030;
  font-weight: bold; }

.nav-features .nav-dropdown-account-detail-info {
  right: 0;
  left: auto; }

.nav-features .account-login {
  font-weight: bold; }

.nav-features .account-register {
  font-weight: bold; }

.nav-features .account-logout {
  font-weight: bold; }

.nav-features .account-settings {
  font-weight: bold; }

.nav-features .dropdow-menu-account-name {
  font-weight: bold;
  font-size: 14px;
  color: #303030; }

.nav-features .dropdow-menu-accout-info-style {
  font-weight: bold; }

.nav-features #navMusic .glyphicon {
  font-size: 20px; }

.account-photo {
  width: 60px;
  height: 60px;
  border-radius: 4px; }

.login-wrong {
  display: none; }

.modal-title {
  color: #fc2347;
  font-weight: bold; }

.modal-file-input {
  color: #ffffff;
  background: #fc2347;
  border: none;
  border-radius: 4px; }

.modal-music-content {
  text-align: center;
  padding: 15px 15px; }

#musicImage {
  width: 50%;
  border-radius: 9px; }

.music-row-row {
  width: 80%;
  margin: auto; }

@media (max-width: 500px) {
  .music-row-row {
    width: 90%; } }

.music-row-row.music-progress-before #musicProgress {
  height: 4px;
  border-radius: 2px;
  margin-bottom: 4px; }
  .music-row-row.music-progress-before #musicProgress #musicProgressBar {
    background-color: #fc2347; }

.music-row-row.music-progress-before .progress-time {
  color: #999999;
  font-size: 12px;
  font-weight: 600; }

.music-row-row.music-progress-before #progressTimeGone {
  float: left; }

.music-row-row.music-progress-before #progressTimeRem {
  float: right; }

.music-row-row.music-info {
  margin-top: -23px; }
  .music-row-row.music-info #musicName {
    color: #303030;
    font-size: 16px;
    font-weight: bold; }
  .music-row-row.music-info #musicInfo {
    color: #fc2347;
    font-size: 13px;
    font-weight: bold; }

.music-act-glyphicon {
  color: #202020;
  font-size: 25px;
  font-weight: bold; }

.music-row-row.sound-progress-before {
  height: 20px; }
  .music-row-row.sound-progress-before .sound-col-xs {
    padding-left: 5px;
    padding-right: 5px; }
  .music-row-row.sound-progress-before #soundProgress {
    height: 4px;
    border-radius: 2px;
    margin-top: 8px; }
    .music-row-row.sound-progress-before #soundProgress #soundProgressBar {
      background-color: #999999; }
  .music-row-row.sound-progress-before .sound-act-glyphicon {
    color: #999999;
    font-size: 14px; }
  .music-row-row.sound-progress-before #soundDown:hover, .music-row-row.sound-progress-before #soundUp:hover {
    color: #fc2347; }

.music-row-row.music-option {
  margin-top: -23px; }
  .music-row-row.music-option .music-option-glyphicon {
    color: #fc2347;
    font-size: 19px; }

.modal-music-playlist {
  padding: 15px;
  background: #dfdfdf;
  border-radius: 5px; }
  .modal-music-playlist .music-playlist-header {
    width: 100%;
    height: 50px;
    padding: 15px;
    line-height: 20px;
    margin: auto; }
    .modal-music-playlist .music-playlist-header .music-playlist-header-title {
      float: left;
      color: #303030;
      font-size: 20px;
      font-weight: bold; }
    .modal-music-playlist .music-playlist-header .music-playlist-header-random {
      float: right;
      color: #fc2347; }
  .modal-music-playlist .music-playlist-content {
    width: 100%;
    margin: auto; }
    .modal-music-playlist .music-playlist-content .list-group-item-img {
      width: 34px;
      height: 34px;
      border-radius: 4px; }
    .modal-music-playlist .music-playlist-content .list-group-item-option {
      color: #969696;
      font-size: 14px;
      padding-top: 7px;
      margin-right: 15px;
      float: right;
      cursor: pointer; }
    .modal-music-playlist .music-playlist-content .list-group-item-option:hover {
      color: #fc2347; }

.lib-modal {
  background: #ffffff;
  max-width: 600px;
  margin-left: -600px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 6px; }
  .lib-modal .lib-modal-header {
    padding: 15px 10px; }
  .lib-modal .lib-modal-body {
    padding: 15px 10px; }
    .lib-modal .lib-modal-body .lib-song-seemore > .row {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px; }
    .lib-modal .lib-modal-body .lib-song-seemore .lib-songs-option .lib-songs-play {
      cursor: pointer;
      color: #fc2347; }
    .lib-modal .lib-modal-body .lib-song-seemore .lib-songs-list .list-group-item {
      border-left: none;
      border-right: none; }
      .lib-modal .lib-modal-body .lib-song-seemore .lib-songs-list .list-group-item .rank {
        display: inline-block;
        width: 30px;
        text-align: center;
        line-height: 36px;
        font-weight: 600; }
      .lib-modal .lib-modal-body .lib-song-seemore .lib-songs-list .list-group-item .song-info {
        position: absolute;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        text-overflow: ellipsis; }
        .lib-modal .lib-modal-body .lib-song-seemore .lib-songs-list .list-group-item .song-info p {
          margin-bottom: 0;
          line-height: 18px; }
          .lib-modal .lib-modal-body .lib-song-seemore .lib-songs-list .list-group-item .song-info p:nth-child(1) {
            font-size: 14px; }
          .lib-modal .lib-modal-body .lib-song-seemore .lib-songs-list .list-group-item .song-info p:nth-child(2) {
            font-size: 13px;
            color: #666666; }
      .lib-modal .lib-modal-body .lib-song-seemore .lib-songs-list .list-group-item .song-option {
        position: absolute;
        right: 15px;
        display: inline-block;
        line-height: 36px;
        font-size: 14px;
        color: #969696; }
        .lib-modal .lib-modal-body .lib-song-seemore .lib-songs-list .list-group-item .song-option .glyphicon {
          cursor: pointer;
          margin-left: 10px; }
          .lib-modal .lib-modal-body .lib-song-seemore .lib-songs-list .list-group-item .song-option .glyphicon:hover {
            color: #fc2347; }
    .lib-modal .lib-modal-body .lib-artist-seemore .lib-artist-seemore-item {
      padding-bottom: 10px;
      text-align: center; }
      .lib-modal .lib-modal-body .lib-artist-seemore .lib-artist-seemore-item img {
        width: 60%;
        border-radius: 50%; }
      .lib-modal .lib-modal-body .lib-artist-seemore .lib-artist-seemore-item p {
        font-weight: 600;
        margin-top: 10px; }
    .lib-modal .lib-modal-body .fy-person > .row {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px; }
    .lib-modal .lib-modal-body .fy-person .collect-item img {
      width: 40px;
      height: 40px;
      border-radius: 4px; }
    .lib-modal .lib-modal-body .fy-person .collect-item .collect-item-info {
      display: inline-block;
      position: absolute;
      margin-left: 20px; }
      .lib-modal .lib-modal-body .fy-person .collect-item .collect-item-info p {
        margin-bottom: 0;
        line-height: 20px; }
    .lib-modal .lib-modal-body .fy-person .share-item {
      margin: 15px 20px;
      padding: 15px;
      background: rgba(249, 225, 213, 0.4);
      border-radius: 5px; }
      .lib-modal .lib-modal-body .fy-person .share-item img {
        width: 50px;
        height: 50px;
        border-radius: 4px; }
      .lib-modal .lib-modal-body .fy-person .share-item .share-item-info {
        display: inline-block;
        position: absolute;
        margin-left: 20px; }

@media (max-width: 599px) {
  .lib-modal {
    width: 96%;
    margin-left: -96%; } }

/* Alert*/
.alert-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1999;
  display: none;
  overflow-x: hidden;
  overflow-y: auto; }
  .alert-bg .m-alert {
    width: 500px;
    margin: 30px auto auto auto;
    background: #ffffff;
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: auto; }
    .alert-bg .m-alert > div {
      padding: 15px; }
      .alert-bg .m-alert > div.m-alert-header {
        font-size: 25px;
        font-weight: 600; }
      .alert-bg .m-alert > div.m-alert-body .m-alert-share {
        padding: 10px 15px; }
        .alert-bg .m-alert > div.m-alert-body .m-alert-share .share-song {
          padding: 10px 15px;
          background: rgba(249, 225, 213, 0.5);
          border-radius: 6px; }
          .alert-bg .m-alert > div.m-alert-body .m-alert-share .share-song img {
            width: 40px;
            border-radius: 4px; }
          .alert-bg .m-alert > div.m-alert-body .m-alert-share .share-song div {
            position: absolute;
            display: inline-block;
            margin-left: 25px; }
            .alert-bg .m-alert > div.m-alert-body .m-alert-share .share-song div p {
              line-height: 20px;
              margin-bottom: 0; }
              .alert-bg .m-alert > div.m-alert-body .m-alert-share .share-song div p:nth-child(2) {
                color: #666666; }
      .alert-bg .m-alert > div.m-alert-footer {
        text-align: right; }
  @media (max-width: 499px) {
    .alert-bg .m-alert {
      width: 90%; } }

.container-features {
  margin-top: 50px; }

.container-features {
  padding-left: 0;
  padding-right: 0; }

.m-active {
  color: #fc2347; }

.container-nav {
  position: fixed;
  float: left;
  width: 200px;
  padding-left: 15px;
  padding-right: 15px; }
  .container-nav .nav-pills li a {
    color: #303030;
    font-weight: bold; }
  .container-nav .nav-pills li a.list-group-item {
    color: #303030;
    background-color: #d5c9d8; }
  .container-nav .nav-pills li.active a {
    color: #ffffff;
    background: #fc2347; }
  .container-nav .nav-pills li.active a:hover {
    background: #f12347; }
  .container-nav .nav-pills .badge {
    float: right; }

@media (max-width: 767px) {
  .container-nav {
    display: none;
    width: 96%;
    bottom: 0px;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 14px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5); }
    .container-nav .nav-pills li a {
      color: #ffffff; }
    .container-nav .nav-pills li a:focus, .container-nav .nav-pills li a:hover {
      color: #303030;
      background: #efefef; } }

.container-nav-content {
  margin-left: 200px;
  padding: 0;
  min-height: 100%;
  background: #eeeeee; }
  .container-nav-content .carousel-inner-img {
    min-height: 200px; }
  .container-nav-content .home-music-listen {
    color: #ffffff;
    background-color: #fc2347; }
  .container-nav-content .home-music-listen:focus {
    background-color: #fc234f; }
  .container-nav-content h2 {
    font-weight: bold; }
  .container-nav-content #homeFrame .jumbotron {
    margin-bottom: 0;
    border-radius: 0; }
    .container-nav-content #homeFrame .jumbotron:nth-child(1) {
      padding: 0; }
    .container-nav-content #homeFrame .jumbotron:nth-child(2) {
      padding-top: 10px;
      background-color: rgba(175, 232, 237, 0.1); }
    .container-nav-content #homeFrame .jumbotron:nth-child(3) {
      background-color: rgba(244, 101, 65, 0.1); }
    .container-nav-content #homeFrame .jumbotron:nth-child(5) {
      background-color: rgba(161, 244, 66, 0.1); }
  .container-nav-content #homeFrame .what-ever {
    margin-top: 50px; }
    .container-nav-content #homeFrame .what-ever .what-ever-listen {
      color: #888888;
      font-size: 13px;
      cursor: pointer; }
    .container-nav-content #homeFrame .what-ever .what-ever-listen:hover {
      text-decoration: underline; }
  .container-nav-content #libraryFrame .panel-group .panel h3 {
    font-weight: 600; }
  .container-nav-content #libraryFrame .panel-group .panel .lib-category-header {
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 35px; }
    .container-nav-content #libraryFrame .panel-group .panel .lib-category-header .lib-category-title {
      padding-left: 5px;
      font-weight: 600;
      font-size: 25px;
      border-bottom: solid 1px #aaaaaa; }
    .container-nav-content #libraryFrame .panel-group .panel .lib-category-header .lib-category-option {
      text-align: right; }
      .container-nav-content #libraryFrame .panel-group .panel .lib-category-header .lib-category-option .option-item {
        padding: 5px;
        color: #fc2347;
        cursor: pointer; }
  .container-nav-content #libraryFrame .panel-group .panel .lib-category-container {
    min-height: 380px; }
    .container-nav-content #libraryFrame .panel-group .panel .lib-category-container .lib-theme a {
      position: relative; }
      .container-nav-content #libraryFrame .panel-group .panel .lib-category-container .lib-theme a .lib-play {
        position: absolute;
        display: flex;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.2); }
        .container-nav-content #libraryFrame .panel-group .panel .lib-category-container .lib-theme a .lib-play h2 {
          color: #fc2347;
          font-weight: bold;
          transition: transform 0.5s;
          -webkit-transition: -webkit-transform 0.5s;
          -moz-transition: -moz-transform 0.5s;
          -o-transition: -o-transform 0.5s; }
        .container-nav-content #libraryFrame .panel-group .panel .lib-category-container .lib-theme a .lib-play p {
          color: #aaaaaa;
          font-size: 14px;
          text-decoration: underline;
          text-align: center;
          display: none; }
        .container-nav-content #libraryFrame .panel-group .panel .lib-category-container .lib-theme a .lib-play:hover {
          background: rgba(0, 0, 0, 0.3); }
          .container-nav-content #libraryFrame .panel-group .panel .lib-category-container .lib-theme a .lib-play:hover h2 {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2); }
  .container-nav-content #libraryFrame .panel-group .panel .lib-content-item {
    width: 100%;
    padding: 5px;
    background: #eeeeee;
    border-radius: 5px; }
    .container-nav-content #libraryFrame .panel-group .panel .lib-content-item .lib-theme-option {
      height: 50px;
      line-height: 50px;
      text-align: right; }
      .container-nav-content #libraryFrame .panel-group .panel .lib-content-item .lib-theme-option span {
        padding-left: 10px;
        padding-right: 5px;
        color: #888888;
        cursor: pointer; }
  .container-nav-content #libraryFrame .panel-group .panel #libSongList .list-group-item {
    padding: 4px 4px;
    border-left: none;
    border-right: none; }
    .container-nav-content #libraryFrame .panel-group .panel #libSongList .list-group-item span.rank {
      font-weight: bold;
      padding-left: 9px;
      padding-right: 9px; }
    .container-nav-content #libraryFrame .panel-group .panel #libSongList .list-group-item img {
      width: 40px;
      height: 40px;
      border-radius: 4px; }
  .container-nav-content #libraryFrame .panel-group .panel #libAlbumList.row {
    margin-left: 0;
    margin-right: 0; }
  .container-nav-content #libraryFrame .panel-group .panel #libAlbumList .lib-album-item {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    cursor: pointer; }
    .container-nav-content #libraryFrame .panel-group .panel #libAlbumList .lib-album-item img {
      width: 100%;
      border-radius: 5px; }
    .container-nav-content #libraryFrame .panel-group .panel #libAlbumList .lib-album-item .caption p {
      margin-bottom: 0px; }
    .container-nav-content #libraryFrame .panel-group .panel #libAlbumList .lib-album-item .caption .lib-album-name {
      margin-top: 5px;
      font-size: 14px;
      font-weight: bold; }
    .container-nav-content #libraryFrame .panel-group .panel #libAlbumList .lib-album-item .caption .lib-album-info {
      font-size: 13px;
      color: #666666; }
    .container-nav-content #libraryFrame .panel-group .panel #libAlbumList .lib-album-item .lib-album-item-play {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      align-items: center;
      justify-content: center; }
      .container-nav-content #libraryFrame .panel-group .panel #libAlbumList .lib-album-item .lib-album-item-play span {
        color: transparent;
        font-size: 25px; }
      .container-nav-content #libraryFrame .panel-group .panel #libAlbumList .lib-album-item .lib-album-item-play:hover {
        background: rgba(0, 0, 0, 0.2); }
        .container-nav-content #libraryFrame .panel-group .panel #libAlbumList .lib-album-item .lib-album-item-play:hover span {
          color: #cccccc; }
  .container-nav-content #libraryFrame .panel-group .panel #libArtistList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .container-nav-content #libraryFrame .panel-group .panel #libArtistList .l-item {
      margin: 10px;
      background: #fc2347;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.5s;
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      -o-transition: -o-transform 0.5s; }
      .container-nav-content #libraryFrame .panel-group .panel #libArtistList .l-item span {
        color: transparent; }
      .container-nav-content #libraryFrame .panel-group .panel #libArtistList .l-item:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1); }
        .container-nav-content #libraryFrame .panel-group .panel #libArtistList .l-item:hover span {
          color: #ffffff; }
      .container-nav-content #libraryFrame .panel-group .panel #libArtistList .l-item img {
        width: 100%;
        border-radius: 50%; }
  .container-nav-content #libraryFrame .panel-group .see-more {
    display: none;
    text-align: right; }
    .container-nav-content #libraryFrame .panel-group .see-more .panel-title {
      font-size: 14px;
      color: #888888; }
  .container-nav-content #foryouFrame > .row {
    margin-left: 0;
    margin-right: 0; }
    .container-nav-content #foryouFrame > .row:nth-child(1) {
      padding-top: 20px;
      padding-bottom: 40px;
      border-bottom: solid 1px #cccccc; }
      .container-nav-content #foryouFrame > .row:nth-child(1) .fy-user-img {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center; }
        .container-nav-content #foryouFrame > .row:nth-child(1) .fy-user-img img {
          width: 50%;
          height: 50%;
          border-radius: 50%; }
      .container-nav-content #foryouFrame > .row:nth-child(1) .fy-user-info .row {
        margin-left: 0;
        margin-right: 0; }
        .container-nav-content #foryouFrame > .row:nth-child(1) .fy-user-info .row:nth-child(1) {
          line-height: 50px; }
          .container-nav-content #foryouFrame > .row:nth-child(1) .fy-user-info .row:nth-child(1) span {
            font-size: 30px;
            font-weight: 600; }
        .container-nav-content #foryouFrame > .row:nth-child(1) .fy-user-info .row:nth-child(2) {
          margin-top: 25px; }
          .container-nav-content #foryouFrame > .row:nth-child(1) .fy-user-info .row:nth-child(2) .label {
            margin-left: 10px;
            margin-right: 10px;
            padding: 8px 10px;
            border-radius: 6px;
            font-size: 14px;
            background: #fc2347; }
            .container-nav-content #foryouFrame > .row:nth-child(1) .fy-user-info .row:nth-child(2) .label .badge {
              margin-left: 5px; }
      @media (max-width: 767px) {
        .container-nav-content #foryouFrame > .row:nth-child(1) .fy-user-info .row {
          display: -webkit-flex;
          display: flex;
          align-items: center;
          justify-content: center; }
          .container-nav-content #foryouFrame > .row:nth-child(1) .fy-user-info .row:nth-child(2) {
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center; } }
    .container-nav-content #foryouFrame > .row:nth-child(2) .m-title {
      line-height: 40px;
      margin-top: -20px;
      padding-left: 6px;
      font-size: 30px;
      font-weight: 600; }
      .container-nav-content #foryouFrame > .row:nth-child(2) .m-title span {
        padding-left: 10px;
        padding-right: 10px;
        background: #eeeeee; }
    .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-list .m-list-group .m-list-group-option {
      height: 50px;
      line-height: 50px;
      text-align: right; }
      .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-list .m-list-group .m-list-group-option span {
        padding-left: 10px;
        padding-right: 10px;
        color: #fc2347;
        cursor: pointer; }
    .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-list .m-list-group .list-group .list-group-item {
      height: 50px;
      line-height: 50px;
      padding: 0; }
      .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-list .m-list-group .list-group .list-group-item .m-list-rank {
        display: block;
        width: 40px;
        text-align: center;
        font-weight: bold; }
      .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-list .m-list-group .list-group .list-group-item .m-list-info {
        position: absolute;
        top: 0;
        margin-left: 40px;
        margin-right: 100px;
        height: 100%;
        text-overflow: ellipsis; }
        .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-list .m-list-group .list-group .list-group-item .m-list-info p {
          margin: 0;
          font-size: 14px; }
      .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-list .m-list-group .list-group .list-group-item .m-list-option {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        text-align: center; }
        .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-list .m-list-group .list-group .list-group-item .m-list-option span {
          padding-left: 8px;
          padding-right: 8px;
          color: #999999;
          cursor: pointer; }
          .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-list .m-list-group .list-group .list-group-item .m-list-option span:hover {
            color: #fc2347; }
    .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-intro .m-thumbnail .m-thumbnail-img {
      text-align: center;
      cursor: pointer; }
      .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-intro .m-thumbnail .m-thumbnail-img img {
        width: 90%;
        border-radius: 5px; }
    .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-intro .m-thumbnail .caption {
      margin-top: 20px;
      width: 100%;
      overflow: hidden;
      display: inline-block;
      overflow: hidden; }
      .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-intro .m-thumbnail .caption .fy-album {
        width: 900px; }
        .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-intro .m-thumbnail .caption .fy-album .fy-album-item {
          display: inline-block;
          margin: 10px 10px;
          width: 130px;
          cursor: pointer; }
          .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-intro .m-thumbnail .caption .fy-album .fy-album-item div {
            margin-bottom: 10px; }
          .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-intro .m-thumbnail .caption .fy-album .fy-album-item .fy-album-item-img img {
            width: 100%;
            border-radius: 50%; }
          .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-intro .m-thumbnail .caption .fy-album .fy-album-item .fy-album-item-info p {
            margin-bottom: 4px;
            font-weight: 600;
            font-size: 12px;
            text-align: center; }
            .container-nav-content #foryouFrame > .row:nth-child(2) .fy-song-intro .m-thumbnail .caption .fy-album .fy-album-item .fy-album-item-info p:nth-child(2) {
              color: #666666; }
  .container-nav-content #messagesFrame .row {
    margin-left: 0;
    margin-right: 0; }
  .container-nav-content #messagesFrame #comRefreshAlert {
    display: none; }
  .container-nav-content #messagesFrame > .row {
    padding: 15px;
    border-bottom: solid 2px #dddddd; }
    .container-nav-content #messagesFrame > .row .me-header p {
      display: inline-block;
      line-height: 40px;
      margin-bottom: 0; }
      .container-nav-content #messagesFrame > .row .me-header p:nth-child(1) {
        font-size: 25px;
        font-weight: bold; }
      .container-nav-content #messagesFrame > .row .me-header p:nth-child(2) {
        float: right;
        cursor: pointer;
        color: #fc2347; }
    .container-nav-content #messagesFrame > .row > .row:nth-child(1) {
      height: 50px;
      margin: 10px 0 10px 25px; }
      .container-nav-content #messagesFrame > .row > .row:nth-child(1) img {
        width: 50px;
        height: 50px;
        border-radius: 50%; }
      .container-nav-content #messagesFrame > .row > .row:nth-child(1) div {
        display: inline-block;
        position: absolute;
        margin-left: 25px; }
        .container-nav-content #messagesFrame > .row > .row:nth-child(1) div p {
          height: 25px;
          line-height: 25px;
          font-weight: 600;
          margin-bottom: 0; }
          .container-nav-content #messagesFrame > .row > .row:nth-child(1) div p:nth-child(1) {
            font-size: 14px; }
          .container-nav-content #messagesFrame > .row > .row:nth-child(1) div p:nth-child(2) {
            font-size: 12px;
            color: #888888; }
    .container-nav-content #messagesFrame > .row > .row:nth-child(2) {
      margin-left: 80px;
      margin-right: 0; }
      .container-nav-content #messagesFrame > .row > .row:nth-child(2) .me-comment-text p {
        line-height: 25px;
        font-size: 14px; }
      .container-nav-content #messagesFrame > .row > .row:nth-child(2) .me-comment-song {
        padding-top: 20px;
        padding-bottom: 20px;
        background: rgba(249, 225, 213, 0.4);
        border-radius: 10px; }
        .container-nav-content #messagesFrame > .row > .row:nth-child(2) .me-comment-song img {
          width: 50px;
          border-radius: 4px; }
        .container-nav-content #messagesFrame > .row > .row:nth-child(2) .me-comment-song div {
          display: inline-block;
          position: absolute;
          margin-left: 20px; }
          .container-nav-content #messagesFrame > .row > .row:nth-child(2) .me-comment-song div p {
            height: 25px;
            line-height: 25px;
            font-weight: 600;
            margin-bottom: 0; }
            .container-nav-content #messagesFrame > .row > .row:nth-child(2) .me-comment-song div p:nth-child(1) {
              font-size: 14px; }
            .container-nav-content #messagesFrame > .row > .row:nth-child(2) .me-comment-song div p:nth-child(2) {
              font-size: 12px;
              color: #888888; }
    .container-nav-content #messagesFrame > .row > .row:nth-child(3) {
      margin: 20px 0 20px 80px;
      text-align: left; }
      .container-nav-content #messagesFrame > .row > .row:nth-child(3) span {
        margin-right: 6px;
        color: #aaaaaa;
        cursor: pointer;
        transition: transform 0.5s;
        -webkit-transition: -webkit-transform 0.5s;
        -moz-transition: -moz-transform 0.5s;
        -o-transition: -o-transform 0.5s; }
        .container-nav-content #messagesFrame > .row > .row:nth-child(3) span.glyphicon:hover {
          transform: scale(2);
          -webkit-transform: scale(2);
          -moz-transform: scale(2);
          -o-transform: scale(2); }
    @media (max-width: 767px) {
      .container-nav-content #messagesFrame > .row > .row:nth-child(1) {
        margin-left: 0; }
      .container-nav-content #messagesFrame > .row > .row:nth-child(2) {
        margin-left: 20px; }
      .container-nav-content #messagesFrame > .row > .row:nth-child(3) {
        margin-left: 20px;
        text-align: right; } }
  .container-nav-content #exploreFrame > .row {
    margin-left: 25px;
    margin-right: 25px; }
    .container-nav-content #exploreFrame > .row .explore-play {
      cursor: pointer; }
    .container-nav-content #exploreFrame > .row:nth-child(1) .input-group {
      margin-top: 30px;
      margin-bottom: 10px; }
    .container-nav-content #exploreFrame > .row:nth-child(1) .search-content {
      background: rgba(192, 174, 164, 0.8);
      margin-bottom: 30px;
      padding: 10px 0; }
      .container-nav-content #exploreFrame > .row:nth-child(1) .search-content .search-default {
        text-align: center; }
      .container-nav-content #exploreFrame > .row:nth-child(1) .search-content .search-list {
        padding: 10px 20px;
        display: none; }
        .container-nav-content #exploreFrame > .row:nth-child(1) .search-content .search-list .list-group .list-group-item {
          background: rgba(255, 255, 255, 0.1);
          color: #ffffff; }
          .container-nav-content #exploreFrame > .row:nth-child(1) .search-content .search-list .list-group .list-group-item img {
            width: 50px;
            height: 50px;
            border-radius: 5px; }
          .container-nav-content #exploreFrame > .row:nth-child(1) .search-content .search-list .list-group .list-group-item .song-info {
            position: absolute;
            display: inline-block;
            margin-left: 20px; }
            .container-nav-content #exploreFrame > .row:nth-child(1) .search-content .search-list .list-group .list-group-item .song-info p {
              margin-bottom: 0;
              line-height: 25px; }
    .container-nav-content #exploreFrame > .row:nth-child(2) .thumbnail p {
      font-weight: bold;
      font-size: 13px;
      color: #666666; }
    .container-nav-content #exploreFrame > .row:nth-child(2) .explore-default {
      margin: 15px 0;
      color: #fc2347; }

@media (max-width: 767px) {
  .container-nav-content {
    margin-left: 0;
    padding: 0; } }

.lib-content-in {
  left: 0;
  width: 100%; }

@keyframes opin {
  from {
    left: 100%;
    width: 0; }
  to {
    left: 0;
    width: 100%; } }

@-webkit-keyframes opin {
  from {
    left: 100%;
    width: 0; }
  to {
    left: 0;
    width: 100%; } }

@-moz-keyframes opin {
  from {
    left: 100%;
    width: 0; }
  to {
    left: 0;
    width: 100%; } }

@-o-keyframes opin {
  from {
    left: 100%;
    width: 0; }
  to {
    left: 0;
    width: 100%; } }
